/* Move down content because we have a fixed navbar that is 50px tall */
html {
  min-height:100%;
  height: 100vh;
  margin:0;
  position: relative;
  color: #fff;
}

body {
  min-height:100%;
  height: 100vh;
  margin:0;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: url('../img/background/cream_pixels.png');
}


.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.9)),url('../img/welcome.jpg') no-repeat center center;
  background-size: cover;
  min-height:100%;
  height: 100vh;
  box-shadow: 0px -2px 20px 6px rgba(0, 0, 0, 0.5);

}

.back {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.information {
  display: table;
  height: 95%;
  width: 100%;
  text-align: center;
}


.centre-text {
  display: table-cell;
  vertical-align: bottom;
}


h1 {
  font-family:  'Parisienne', cursive;
  
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 50px;
  font-weight: 200;
  margin: 10px 0px;
  color: #fff;

}

h2 {
  margin-top: 0px
}

h2 > span {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 20px;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.centre-text > h3 {

  padding: 12px 20px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}

.fa {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



h3 {
  color: rgb(150, 150, 150);

  font-family: 'Parisienne', cursive;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  margin-top: 0px;
  
}

.accommodation-info{
  margin-top: 40px;
}




footer {
  height: 60px;
  background-color: #ededed;
  text-align: center;
  padding: 15px 0px;
  color: #777;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.map-container {
  height: 300px;
  margin-top: 40px;
  width: 100%;

}


#map {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .map-container{
      margin-top: 0px;
      min-height: 520px;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      margin-top: 0px;
      z-index: -1;
      padding: 0;
      width: 50%;

     padding-left: 15px;
  }

  h3 {
    font-size: 50px;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    margin-top: 10px
  }

  h2 > span {
    font-size: 30px;
    padding: 12px 20px;
  }

  .centre-text > h3 {
      font-size: 16px;
  }

  .accommodation-info{
    margin: 40px 30px 0px 30px
  }
  


}


.fa-bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1.5s infinite linear;
  -o-animation: bounce 1.5s infinite linear;
  -webkit-animation: bounce 1.5s infinite linear;
  animation: bounce 1.5s infinite linear;
}

.delay-animation {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;

}

.fixed-alert {
  margin-top: 5px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: none;
}

.alert {
  margin: 0 auto;
  width: 450px;
  text-align: center;
}

.alert-wedding-rsvp {
  color: #fff;
  background-color: #0b497b;
  border-color: #0b497b;
}

.alert-wedding-rsvp a {
  color: #fff;

}

.close:hover, .close:focus {
  color: #fff;
}

a { color:  #0b497b}

.glyphicon.normal-right-spinner {
  -webkit-animation: glyphicon-spin-r 2s infinite linear;
  animation: glyphicon-spin-r 2s infinite linear;
}

.spinner {
  text-align: center;
  font-size: 40px;
  padding: 100px 0px;
  display:none;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}